html{
  
}
.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace !important
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav-list{
  margin-top: 20px
}
.nav-list>li{
  list-style: none;
  margin-bottom: 10px;
  color: white;
  font-weight: 400
}
.nav-list>li:hover{
  cursor: pointer;
  color: #81bcff
}
.home-main-div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px
}
.home-child1{
  width: 25%;
  background-color: #364ca0;
  min-height: 87.3vh ;
}
.home-child2{
    background-color: #e8e4e1;
    width: 75%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: bold !important */
}
.card{
  margin-bottom: 20px;
}
.bold{
  font-weight: bolder;
  color: #427abc !important;
  /* font-size: 30px; */
}
.email-address{
  font-size: 20px; 
}
.admin{
  color: red !important;
}
.faculty{
  color: #00aeff
}
.student{
  color: rgb(0, 155, 0);
}
.body{
  margin: 50px;
}
.user-maindiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}
.user-maindiv>h1{
  width: 98.4%;
    margin-left: 1.66%;
}
.UserChild1{
  width: 30%;
  margin-right: 1.66%;
  margin-left: 1.66%;
}
.UserChild2{
  width: 30%;
  margin-right: 1.66%;
  margin-left: 1.66%;
}
.UserChild3{
  width: 30%;
  margin-right: 1.66%;
  margin-left: 1.66%;
}
.card-body{
  flex: unset
}
.AddUserBtnDiv>button{
  float: right;
  position: relative;
  top: 40px;
}
.AddUserBtnDiv{
  width: 98.4%;}
  .formDiv{
    width: 98.4%;
    margin-left: 1.66%; 
  }
  .AddComDiv{
    width: 500px;
    height: 300px;
    padding-top: 5px;
    /* border: 0px dashed black; */
    margin: 120px auto 0px auto;
    background-color: white;
    border-radius: 20px; 
  }
  .addComplainH{
    margin-top: 40px;
  }
  .addComp{
    text-align: center;
    margin-top: 80px;
    margin-bottom: -120px;
  }
  .AddComDiv:hover{     
    cursor: crosshair;
  }
  .AddComDiv>p{
    margin-top: 132px;
    text-align: center;
  }

  .welcome{
    margin-top: 50px;
  }
  .complaint{
    /* text-align: center; */
    color: #0074aa;
  }
  .complaint-header{
    background-image: url(Graphics/NAV.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
  }
  .fSubBtn{
    margin-right: 5px
  }
  /*.signInDiv{
    border: 1px solid gray;
    width: 400px;
    background: white;
    margin: 0 auto;
    margin-top: -150px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    /* box-shadow: 8px 8px 3px #cecece; 
    border-radius: 5px;
    text-align: center;
  }*/
  .signInBody{
    height: 80%;
    /* display: none; */
    /* padding: 343px;  */
    background:#e9ebee;
    height: 87vh; 
    padding-top:8% ;
    text-align: center;
  }
  .signInDiv{
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
    /* border: 1px solid black; */
    background: white;
  }
  .signInDiv>input{
    width: 100%;
    margin-bottom: 20px;
    text-indent: 10px;
    border-radius: 0px;
  }
  .loginBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0px;
    background-color: #33489e
  }
  .loginBtn:hover{
    background-color: white;
    border: 1px solid #33489e;
    color: #33489e !important
  }
  #Popover1{
    text-align: center
  }
  
  .popover{
    /* margin-left: 100px */margin-top: 10px;
  }
  
  .popover-header{
    background-color: #17a2b8 !important;
    color: white;
  }
  .nav-bar{
    background-image: url(Graphics/NAV.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
.brand{
  /* text-shadow: 5px 0px 5px rgb(0, 77, 10); */
  padding-left: 20px;
  color: #427abc  !important;
  /* background-color: #008cff ; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px
}
.card-text{
  color: black;
}
.disabled{
  font-style: oblique;
  font-size: 15px;
  color: black;
}
.loginLogo{
  text-align: center;
  margin: 25px;
  margin-top: 5px;
}
.loginLogo>h5{
  margin-top: 20px;
  font-weight: light;
  /* font-size: 24px;   */
}
.usersStat{
  text-align: center;
  width: 80%;
  margin-top: 8%;
  margin-right: 10%;
  margin-left: 10%;
  padding: 25px;
  background: white;
}
.pending{
  text-align: center;
  width: 80%;
  margin-top: 4%;
  margin-right: 10%;
  margin-left: 10%;
  padding: 25px;
  background: white;
}
.resolved{
  text-align: center;
  width:80%;
  margin-top: 4%;
  margin-right: 10%;
  margin-left: 10%;
  padding: 25px;
  background: white;
}